/* CSS Document */

* { box sizing:border-box; }

header,nav,main,footer {display:block;}

main {
	margin-left:200px;
	padding-top:0px;
	background-color:#FEF6C2;
	padding-left:0;
	padding-right:0;
	
	
	
}
body {
	background-color:#FCEBB6;
	color:#221811;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	
}

header {
	background-color:#D2B48C;
	height:150px;
	background-image:url("javajamlogo.JPG");
	background-repeat:no-repeat;
}

h1 {
	padding-top:45px;
  	padding-left:220px;
	font-size:3em;
}

nav{text-align:center;
	font-weight:800;
	font-size:1.5em;
	padding-top:10px;
	float:left;
	width: 90px;
	padding:10px;
	}

nav a{text-decoration:none;}

nav a:link{color:#FEF6C2;}

nav a:visted{color:#D2B48C;}

nav a:hover{color:#CC9933;}

footer{
	background-color:#D2B48C;
	font-size:.60em;
	font-style:italic;
	text-align:center;
	padding-bottom:10px;
	border-top:2px solid #221811;
	
}

img{
	padding-left:10px;
	padding-right:10px;
}

h4{
	text-transform:uppercase;
	border-bottom: solid;
	font-size:1.2em;
	padding-left:.5em;
	padding-bottom:.0em;
	background-color:#D2B48C;
	clear: left;
	
}

.floatleft{ float: left;
padding-right: 2em;
padding-bottom:2em;}

.details {
	padding-left:20%;
	padding-right:20%;
	overflow:auto;
}
	
	
#wrapper {
	background-color:#231814;
		min-width:900px;
		max-width:1280px;
		box-shadow: 5px 5px 5px black;
		}


#heroroad {
	background-image:url(heroroad.jpg);
	height: 250px;
	background-size: 100%;}

#heromugs {background-size:100%;
	height: 250px;
background-image:url(heromugs.jpg);}

#heroguitar {background-size:100%;
	height: 250px;
background-image:url(heroguitar.jpg);}
